tr.my-blog  td {
	background-color: #ffd700;
}

table.rating { 
	width: 100% !important;
	border-collapse: collapse;
	border: 1px solid black;
}

table.rating td { 
	padding: 2px;
	border: 1px solid black;
}

table.rating th { 
	padding-left: 1em; }

div.message { 
	padding: 0.4em;
	background-color: #ffd700;
	border: 1px solid #ff4500;
}

#id_description_tbl { 
	width: 98% ! important;
	height: 10em ! important;
}

tr.mceLast td.mceLast, #id_description_ifr {  
	height: 10em ! important;
}

span.breadcrumbs li { 
display: inline;
 }

div.news_img {
	padding-right: 1em;
}
