tr.my-blog  td {
	background-color: #ffd700;
}

table.rating { 
	width: 100% !important;
	border-collapse: collapse;
	border: 1px solid black;
}

table.rating td { 
	padding: 2px;
}

div.message { 
	padding: 0.4em;
	background-color: #ffd700;
	border: 1px solid #ff4500;
}