{% extends 'base.html' %}

{% load cms_tags %}

{% load thumbnail %}

{% block content %}


                          <div class="article-content">

							{% placeholder "content" %}


<span id="jabookmark-container" style="display: block;" class="ja-social-bookmarking">

<script type="text/javascript" language="javascript">
  addthis_pub="joomlart";addthis_header_color="#000000";addthis_header_background="#999999";addthis_brand="joomlart.com";addthis_language="en";addthis_options="";addthis_offset_top="";addthis_offset_left="";
</script>

<a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="/media/img/lg-bookmark-en.gif" alt="" border="0">  </a>

<script type="text/javascript" src="/media/js/addthis_widget.js"></script>

</span>

                        </div>




<br/>

{% endblock %}

{% block crumbs %} {% endblock %}

	{% block no_right_column %} style="width:60%" {% endblock %}
	{% block right_column %}
						          <div id="ja-right" class="column sidebar" style="width: 40%;">

          <div class="ja-mass ja-mass-top clearfix">
            <div class="ja-moduletable moduletable  clearfix" id="Mod99">
              <div class="ja-box-ct clearfix">
                <a href="http://it-found.org/index.php?option=com_content&amp;view=article&amp;id=389:10-things-you-must-know-about-teline-iii" title="What's new in JA Teline iii?"><img src="/media/img/what-new.jpg" alt="What's new in teline iii"></a>
              </div>
            </div>
          </div>

          <div class="ja-colswrap clearfix ja-r1">
            <div class="ja-col  column">
              <div class="ja-moduletable moduletable_menu  clearfix" id="Mod1">
                <h3><span>Мы помогаем тем, кого интересует:</span></h3>
                <div class="ja-box-ct clearfix">
				  {% show_placeholder_by_id "content" "help-aim" %}
                </div>
              </div>
            </div>
          </div>

		  {% endblock %}
