{% extends 'base.html' %}

{% load cms_tags %}

{% load thumbnail %}

{% block content %}


                          <div class="article-content">

							{% placeholder "content" %}

							<h4>Новости</h4>
								<table class="w100">
									<tr>
					{% for n in news|slice:":3" %}
										<td valign="top">
											<div class="news_img"><img src="{% thumbnail n.photo.name 80x80 upscale %}" width="80" height="80"></div>
										</td>
										<td valign="top" class="w50">
											<div class="news_one">
												<div class="date"><span>{{ n.date|date }}</span></div>
												<div class="title"><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></div>
											</div>

										</td>
					{% endfor %}
									</tr>
									</table>

<span id="jabookmark-container" style="display: block;" class="ja-social-bookmarking">

<script type="text/javascript" language="javascript">
  addthis_pub="joomlart";addthis_header_color="#000000";addthis_header_background="#999999";addthis_brand="joomlart.com";addthis_language="en";addthis_options="";addthis_offset_top="";addthis_offset_left="";
</script>

<a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="/media/img/lg-bookmark-en.gif" alt="" border="0">  </a>

<script type="text/javascript" src="/media/js/addthis_widget.js"></script>

</span>

                        </div>




<br/>

{% endblock %}

{% block crumbs %} {% endblock %}

	{% block no_right_column %} style="width:60%" {% endblock %}
	{% block right_column %}
						          <div id="ja-right" class="column sidebar" style="width: 40%;">

          <div class="ja-mass ja-mass-top clearfix">
            <div class="ja-moduletable moduletable  clearfix" id="Mod99">
              <div class="ja-box-ct clearfix" align="center">
		<embed src="/media/smallchart2.swf" quality="high" bgcolor="#c3cfd2"
			width="367" height="269" name="chart" align="middle"
			scale="noorder"
			flashvars="type={{ request.GET.type }}&keyword={{ request.GET.key }}"
			play="true"
			loop="false"
			quality="high"
			allowScriptAccess="sameDomain"
			type="application/x-shockwave-flash"
			pluginspage="http://www.adobe.com/go/getflashplayer">
		</embed>

		<form method="get" action=".">
			<select size="1" name="type">
				<option value="stat">Статистика</option>
				<option value="blogs">Блоги</option>
			</select>
			<input type="text" name="key" value="{{ request.GET.key }}"><input type="submit" value="Запрос">
		</form>
		 Вы можете проверить популярность интересующего  Вас лица по результатам упоминания о нем в блогосфере за последний  месяц. Введите фамилию и выберите настройку поиска. Если Вы хотите сравнить данные по двум или трем лицам, введите их фамилии через запятую.

              </div>
            </div>
          </div>

          <div class="ja-colswrap clearfix ja-r1">
            <div class="ja-col  column">
              <div class="ja-moduletable moduletable_menu  clearfix" id="Mod1">
                <h3><span>Мы помогаем тем, кого интересует:</span></h3>
                <div class="ja-box-ct clearfix">
				  {% show_placeholder_by_id "content" "help-aim" %}
                </div>
              </div>
            </div>
          </div>

		  {% endblock %}
