{% extends "base.html" %}

{% load thumbnail %}
{% load cms_tags %}
{% block mainnav %}

								<div id="menu">
									<table>
										<tr>
											{% show_menu 1 1 %}
										</tr>
									</table>
								</div>
{% endblock %}

{% block crumbs %}
     <div id="crumbs">
                                                <nobr>
                                                        <a href="{% url news_index %}">Пресс-центр</a>
                                                </nobr>
                                        </div>
{% endblock %}

{% block content %}

<div id="body"><br/>

{% autoescape off %}

                 <h1 class="with_style">{{ obj.title }}</h1>
                                                                
                                                                <div class="endblock">&nbsp;</div>
                                                                
                                                                <!-- NEWS LIST -->
                                                                <table class="w100">
                                                                        <tr>
                                                                                <td valign="top">
                                                                                        <div class="news_img"><img src="{% thumbnail obj.photo.name 280x280 upscale %}"></div>
                                                                                </td>
                                                                                <td valign="top" class="w100">
                                                                                        <div class="news_one">
                                                                                                <div class="date">{{ obj.date|date }}</div>
                                                                                                <div class="text">
										{{ obj.body }}
                                                                                                        <div class="endblock">&nbsp;</div>
                                                                                                </div>
                                                                                        </div>
                                                                                </td>
                                                                        </tr>
                                                                </table>
                                                                <!-- /NEWS LIST -->
  
{% endautoescape %}

  </div>
{% endblock %}
