<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="ru-ru" xmlns="http://www.w3.org/1999/xhtml" lang="ru-ru"><head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="index, follow">
  <meta name="title" content="Об Агентстве">
  <meta name="author" content="Administrator">

  <title>{% block title %}{{ request.current_page.get_title }}{% if request.current_page %} &mdash; {% endif %}Лаборатория VIP PR{% endblock %}</title>

  <link href="http://it-found.org/templates/ja_teline_iii/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="/media/css/style_002.css" type="text/css">
  <link rel="stylesheet" href="/media/css/style_005.css" type="text/css">
  <link rel="stylesheet" href="/media/css/style.css" type="text/css">
  <link rel="stylesheet" href="/media/css/style_004.css" type="text/css">
  <link rel="stylesheet" href="/media/css/style_003.css" type="text/css">
  <link rel="stylesheet" href="/media/css/mod_jamegamenu.css" type="text/css">
  <link rel="stylesheet" href="/media/css/style_006.css" type="text/css">
  <link rel="stylesheet" href="/media/css/sortableTable.css" type="text/css">

  <script type="text/javascript" src="/media/js/mootools.js"></script>
  <script type="text/javascript" src="/media/js/tiny_mce/tiny_mce.js"></script>
<!--  <script type="text/javascript" src="/media/js/tiny_mce/tiny_mce_popup.js"></script> -->
  <script type="text/javascript" src="/media/js/caption.js"></script>
  <script type="text/javascript" src="/media/js/script_003.js"></script>
  <script type="text/javascript" src="/media/js/script.js"></script>
  <script type="text/javascript" src="/media/js/script_002.js" charset="utf-8"></script>
  <script type="text/javascript" src="/media/js/sortableTable.js"></script>
  <script type="text/javascript">
		var jaUserSetting; window.addEvent( 'domready', function() {
				jaUserSetting = new JAUserSetting();

has_rating = (document.getElementById('rating-table') != undefined);
has_rating_articles = (document.getElementById('rating-table-articles') != undefined);

if (has_rating) {
    var myTable = new sortableTable('rating-table', {
	   overCls: 'over', 
	   sortOn: 2,
       sortBy: "DESC",
       clickOn: function() {}
    });
}

if (has_rating_articles) {
    var myTable = new sortableTable('rating-table-articles', {
	   overCls: 'over', 
	   sortOn: 1,
       sortBy: "DESC",
       clickOn: function() {}
    });
}

}); 
  </script>
  <script type="text/javascript" src="/media/js/ja_tabs.js" charset="utf-8"></script>
  <link type="text/css" href="/media/css/ja_tabs.css" rel="stylesheet">
  <link rel="stylesheet" href="/media/css/system.css" type="text/css">
  <link rel="stylesheet" href="/media/css/general.css" type="text/css">
  <link rel="stylesheet" href="/media/css/addons.css" type="text/css">
  <link rel="stylesheet" href="/media/css/layout.css" type="text/css">
  <link rel="stylesheet" href="/media/css/template.css" type="text/css">
  <link rel="stylesheet" href="/media/css/main.css" type="text/css">
  <link rel="stylesheet" href="/media/css/typo.css" type="text/css">

<!--[if IE]>
<link rel="stylesheet" href="/media/css/ie.css" type="text/css" />
<![endif]-->

<!--[if lt IE 7.0]>
<link rel="stylesheet" href="/media/css/ie7minus.css" type="text/css" />
<![endif]-->

<!--[if IE 7.0]>
<style>
.clearfix {
	display: inline-block; /* IE7xhtml*/
}
</style>
<![endif]-->

<script type="text/javascript">
var siteurl='/';
var tmplurl='http://it-found.org/templates/ja_teline_iii';
</script>

<script language="javascript" type="text/javascript" src="/media/js/ja.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/ja_002.js"></script>
<style type="text/css">.ja-movable-container{visibility: hidden;}</style>


<link href="/media/css/css.css" rel="stylesheet" type="text/css">
<script src="/media/js/css.js" language="javascript" type="text/javascript"></script>
<link href="/media/css/theme.css" rel="stylesheet" type="text/css">


<script type="text/javascript">var CurrentFontSize=parseInt('3');</script>
<link media="all" href="/media/css/widget37.css" type="text/css" rel="stylesheet">

</head>
{% load i18n %}
  <body id="bd" class="fs3 Moz">
    <div id="ja-wrapper">
      <a name="Top" id="Top"></a>

      <!-- HEADER -->
      <div id="ja-header" class="wrap">
        <div class="main">
          <div class="inner clearfix">

            <div class="logo-text">
              <h1><a href="/" title="PR3000"><img src="{{ MEDIA_URL }}img/logo.gif"/></a></h1>
                <!-- p class="site-slogan">Все чем запомнился интернет</p -->
                <p class="site-slogan">&nbsp;</p>
            </div>

            <div id="ja-search">
              <form action="/index.php?option=com_search#content" method="post" class="search">
                <label for="mod_search_searchword">Поиск</label>
                <input name="searchword" id="mod_search_searchword" class="inputbox" size="20" type="text">
                <input value="Поиск" class="button" type="submit">
                <input name="option" value="com_search" type="hidden">
                <input name="task" value="search" type="hidden">
              </form>
            </div>

          </div>

          <div class="ja-topbar clearfix">

            <p class="ja-day">
              <span class="day">{% now "l" %}</span><span class="date">, {% now "d.m.Y" %} г.</span>
            </p>

            <ul class="ja-megamenu menu">
              <li class="havechild mega item_icon1">
{% if not request.user.is_authenticated %}
			  <a class="megaitem" href="#"><span>ВХОД</span></a>
                <div class="childcontent">
                  <div class="inner">

<form name="fopenid" action="{% url login_begin %}" method="post">
	<fieldset>
		<legend>{% trans "Sign In Using Your OpenID" %}</legend>
        <div class="form-row">
            <label for="id_openid_identifier">{% trans "OpenID:" %}</label><br />
		  <input id="id_openid_identifier" type="text" class="required openid" name="openid_identifier" maxlength="255" />
        </div>

   <div class="submit-row "><input name="bsignin" type="submit" value="{% trans "Sign in" %}"></div>
 {% if next %}
	<input type="hidden" name="next" value="{{ next }}" />
 {% endif %}

   <a href="/admin/">Управление сайтом</a>
	</fieldset>
</form>

				
                  </div>
                </div>
{% else %}
			 <a class="megaitem" href="{% url core_logout %}"><span>ВЫХОД</span></a>	
{% endif %}
              </li>

            </ul>
          </div>
        </div>
      </div>
<!-- //HEADER -->
<!-- MAIN NAVIGATION -->
{% load cms_tags %}
	  {% block mainnav %}
      <div id="ja-mainnav" class="wrap">
        <div class="main clearfix">
          <ul id="ja-cssmenu" class="clearfix">
            {% show_menu 1 2 100 100 %}
          </ul>
        </div>
      </div>
	  {% endblock %}
      <div class="ja-navhelper wrap">
        <div class="main clearfix">
		  {% block crumbs %}
          <div class="ja-breadcrums">
            <strong>Вы просматриваете:</strong> <span class="breadcrumbs pathway">{% show_breadcrumb %}</span>
          </div>
		  {% endblock %}

          <ul class="no-display">
            <li><a href="http://it-found.org/index.php#ja-content" title="Пропустить">Пропустить</a></li>
          </ul>

        </div>
      </div>

<!-- //MAIN NAVIGATION -->
<!-- TOP SPOTLIGHT -->

      <div id="ja-topsl" class="wrap">
        <div class="main clearfix">
          <div class="ja-box column ja-box-left" style="width: 50%;">
             <div class="ja-moduletable moduletable  clearfix" id="Mod134">
               <h3><span>ТЭГИ ДНЯ</span></h3>
               <div class="ja-box-ct clearfix">
                 <p>
                   <a href="#">СШГ</a>, <a href="#">Медведев</a>, <a href="">Лужков</a>
                 </p>
               </div>
             </div>
          </div>

          <div class="ja-box column ja-box-right" style="width: 50%;">
            <div class="ja-moduletable moduletable  clearfix" id="Mod122">
              <h3><span>Актуально</span></h3>
                <div class="ja-box-ct clearfix">
                  <div class="ja-healineswrap">
                    <em>Актуально:</em>
                      <div style="width: 0px;" id="jalh-modid122" class="ja-headlines ">
                        <div style="white-space: nowrap;" id="jahl-wapper-items-jalh-modid122">
<!-- HEADLINE CONTENT -->
<!-- //HEADLINE CONTENT -->
                        </div>
                      </div>
                  </div>

<script type="text/javascript">
/* <![CDATA[ */
	$(window).addEvent('domready', function(){
		// options setting
		
		var options = { box:$('jalh-modid122'), 
						items: $$('#jalh-modid122 .ja-headlines-item'), 
						mode: 'opacity', 
						wrapper:$('jahl-wapper-items-jalh-modid122'),
						interval:2500,
						fxOptions : { duration: 400,
									  transition: Fx.Transitions.linear ,
									  wait: false }	};
 
		var jahl = new JANewSticker( options );						  
	});
/* ]]> */	
</script>

                </div>
            </div>
          </div>
        </div>
      </div>

<!-- //TOP SPOTLIGHT -->
<!-- MAIN CONTAINER -->
      <div id="ja-container" class="wrap ja-r2">
        <div class="main clearfix">
{% block container %}
		<div id="ja-mainbody"  {% block no_right_column %} style="width: 100%;" {% endblock %}>
<!-- CONTENT -->

            <div id="ja-main" style="width: 100%;">
              <div class="inner clearfix">
                <div id="ja-contentwrap" class="">
                  <div id="ja-content" class="column" style="width: 100%;">
                    <div id="ja-current-content" class="column" style="width: 100%;">
                      <div class="ja-content-main clearfix">

						{% block content %}
						
                        <div class="componentheading">{{ request.current_page.get_title }}</div>

                          <div class="article-content">

							{% placeholder "content" %}

<span id="jabookmark-container" style="display: block;" class="ja-social-bookmarking">

<script type="text/javascript" language="javascript">
  addthis_pub="joomlart";addthis_header_color="#000000";addthis_header_background="#999999";addthis_brand="joomlart.com";addthis_language="en";addthis_options="";addthis_offset_top="";addthis_offset_left="";
</script>

<a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="/media/img/lg-bookmark-en.gif" alt="" border="0">  </a>

<script type="text/javascript" src="/media/js/addthis_widget.js"></script>

</span>

                        </div>
						{% endblock %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

<!-- //CONTENT -->
          </div>

<!-- RIGHT COLUMN--> 
{% block right_column %}

{% endblock %}
<!-- RIGHT COLUMN--> 

{% endblock %}
        </div>
      </div>
<!-- //MAIN CONTAINER -->
<!-- BOTTOM SPOTLIGHT -->
{% block bottom %}
      <div id="ja-botsl" class="wrap">
        <div class="main clearfix">
          <div class="ja-box column ja-box-left" style="width: 25%;">
            <div style="height: 277px;" class="ja-moduletable moduletable clearfix" id="Mod78">
              <h3><span>Контакты</span></h3>
              <div class="ja-box-ct clearfix">
				{% show_placeholder_by_id "content" "contacts-page" %}
              </div>
            </div>
          </div>

          <div class="ja-box column ja-box-center" style="width: 25%;">
            <div style="height: 277px;" class="ja-moduletable moduletable clearfix" id="Mod77">
              <h3><span>Справка</span></h3>
                <div class="ja-box-ct clearfix">
				  {% show_placeholder_by_id "content" "help-page-short" %}
                </div>
            </div>
          </div>

          <div class="ja-box column ja-box-center" style="width: 25%;">
            <div style="height: 277px;" class="ja-moduletable moduletable clearfix" id="Mod76">
              <h3><span>Эксперты</span></h3>
              <div class="ja-box-ct clearfix">
			{% show_placeholder_by_id "content" "experts-page" %}
              </div>
            </div>
          </div>

          <div class="ja-box column ja-box-right" style="width: 25%;">
            <div style="height: 277px;" class="ja-moduletable moduletable clearfix" id="Mod133">
              <h3><span>Партнеры</span></h3>
              <div class="ja-box-ct clearfix">
			{% show_placeholder_by_id "content" "partners-page" %}
              </div>
            </div>
          </div>

        </div>
      </div>
{% endblock %}
<!-- //BOTTOM SPOTLIGHT -->
<!-- FOOTER -->
      <div id="ja-footer" class="wrap">
        <div class="main">
          <div class="ja-footnav clearfix">
            <ul id="mainlevel-nav">
              <li class="ja-firstitem"><a href="{% page_id_url 'about-us' %}" class="mainlevel-nav">О НАС</a></li>
              <li><a href="#" class="mainlevel-nav">Правовая информация</a></li>
              <li><a href="{% page_id_url 'contacts-page' %}" class="mainlevel-nav">Контакты</a></li>
            </ul>

            <ul class="ja-links">
              <li class="layout-switcher"></li>
              <li class="top"><a href="#Top" title="Back to Top">Верх</a></li>
            </ul>
          </div>

          <div class="inner">
            <div class="ja-copyright">
               <small>© 2010 PR3000. Все права защищены.</small>
            </div>
          </div>
        </div>
      </div>
<!-- //FOOTER -->
    </div>

<script type="text/javascript">
window.addEvent('domready', function(){
	holder = $('jabookmark-container');  
	wapper = $('jabookmarkWapper');
	if (holder && wapper) { 
		holder.setStyle('display','block');
		wapper.replaceWith( holder.remove() );
	}
});
</script>

  </body>
</html>

