{% extends "base.html" %}

{% load int %}

{% block title %}
История рейтинга блога {{my.0.article__blog__url}}, категория: {{ category_id }}
{% endblock %}

{% block content %}

{% if message %}
<div class="message">{{ message }}</div>
{% endif %}

<h2>История рейтинга блога <a href="{% url rating_card my.0.article__blog %}">{{my.0.article__blog__url}}</a>, категория: {{ category_id }}</h2>

{% if not my %}

<h3>Блога ({{request.session.openid_name|urlize}}) пока нет в рейтинге.</h3>

{% else %}

<table class="rating" border="1">
  <tr><td rowspan="2">#</td><td rowspan="2">Блог</td><td colspan="4">Текущий месяц</td><td colspan="3">Прошлый месяц</td></tr>
  <tr>                        <td>Комментарии</td><td>Комментаторы</td><td>Ссылки</td><td>±</td>
                              <td>Комментарии</td><td>Комментаторы</td><td>Ссылки</td></tr>
	<tr>
	  <td></td>
	  <td>{{ my.0.article__blog__url|urlize }}</td>
	  {% for v in my %}
	  <td>{% table_value v.value my.0.article__blog forloop.counter0 %}</td>
	  {% endfor %}
	  <td class="up">&uarr;</td>
	  <td>0</td>
	  <td>0</td>
	  <td>0</td>
	</tr>

</table>

<h3>Учтенные записи</h3>

<table class="rating" id="rating-table-articles" border="1">
  <thead><th axis="number">#</th><th axis="date">Дата</th><th>Запись</th><th axis="number">Статистика</th></thead>
{% for i in info %}

  <tr><td>{{ forloop.counter}}</td>
  <td>{{ i.article.pubdate }}</td>
  <td><a href="{{ i.article.link }}">{{ i.article.title }}</a></td>
  <td>{{ i.stats.value|int_filter }}</td>
  
{% endfor %}
</table>

{% endif %}
{% endblock %}

{% block right_column %}

{% endblock %}