{% extends "base.html" %}

{% load int %}

{% block title %}
Страница блога {{ my.0.article__blog__url }}
{% endblock %}

{% block content %}

{% if message %}
<div class="message">{{ message }}</div>
{% endif %}

<h2>Страница блога <a href="{% url rating_card my.0.article__blog %}">{{ my.0.article__blog__url }}</a></h2>

{% if not my %}

<h3>Блога ({{request.session.openid_name|urlize}}) пока нет в рейтинге.</h3>

{% else %}

<table class="rating" border="1">
  <tr><td rowspan="2">#</td><td rowspan="2">Блог</td><td colspan="4">Текущий месяц</td><td colspan="3">Прошлый месяц</td></tr>
  <tr>                        <td>Комментарии</td><td>Комментаторы</td><td>Ссылки</td><td>±</td>
                              <td>Комментарии</td><td>Комментаторы</td><td>Ссылки</td></tr>
	<tr>
	  <td></td>
	  <td>{{ my.0.article__blog__url|urlize }}</td>
	  {% for v in my %}
	  <td>{% table_value v.value my.0.article__blog forloop.counter0 %}</td>
	  {% endfor %}
	  <td class="up">&uarr;</td>
	  <td>0</td>
	  <td>0</td>
	  <td>0</td>
	</tr>

</table>

<h3>Информация о владельце</h3>
{% autoescape off %}
{% if request.user.is_authenticated %}

{% ifequal request.user.id my.0.article__blog__owner__id %}

Вы владелец блога и можете редактировать эту информацию:

<form action="{% url save-info my.0.article__blog %}" method="POST">
{{ form }}

<input type="submit" value="Сохранить"/>
</form>

{{ my.0.article__blog__description }}

{% else %}

<div>
<a href="/rating/card/{{my.0.article__blog}}/take/">Это мой блог!</a>
</div>

{{ my.0.article__blog__description }}

{% endifequal %}

{% else %}

{{ my.0.article__blog__description }}

{% endif %}

{% endautoescape %}
{% endif %}
{% endblock %}

{% block right_column %}

{% endblock %}