{% extends "base.html" %}

{% load int %}

{% block title %}
Рейтинг блогов &mdash; Лаборатория VIP PR
{% endblock %}

{% block content %}

<p>Если Вас не видят, Вы не существуете. Если Ваши социальные связи
(коммуникации) построены нетехнологично &mdash; то же самое. Вы, возможно,
очень значимы для родственников и друзей, но для общества (социума) &mdash;
нисколько.</p>
<p>Рейтинги нашего сайта показывают, насколько Вы заметны, значимы именно
для общества.</p>
<p>Лаборатория VIP PR постоянно отслеживает и анализирует, как и почему
меняется Ваше положение в этих рейтингах.</p>


<table class="rating" id="rating-table" border="1">
<!--  <tr><th></th><th></th><th colspan="4">Текущий месяц</th><th colspan="3">Прошлый месяц</th></tr> -->
  <thead> <th axis="number">#</th><th>Блог</th> <th axis="number">Комментарии</th><th axis="number">Комментаторы</th><th axis="number">Ссылки</th><th>±</th>
                              <th axis="number">Комментарии</th><th axis="number">Комментаторы</th><th axis="number">Ссылки</th></thead>
	{% for i in atoms %}
	<tr {% ifequal request.session.openid_name i.0.article__blog__url  %}class="my-blog"{% endifequal %}>
	  <td>{{ forloop.counter }}</td>
	  <td><a href="{% url rating_card i.0.article__blog %}">{{ i.0.article__blog__owner_name|default:i.0.article__blog__url }}</a></td>
	  {% for v in i %}
	  <td> {% table_value v.value i.0.article__blog forloop.counter0 %}</td> 
	  {% endfor %}
	  <td class="up">&uarr;</td>
	  <td>0</td>
	  <td>0</td>
	  <td>0</td>
	</tr>

	{% endfor %}
	
</table>

{% if request.user.is_authenticated %}
{% if not in_top %}
{% if not my %}

<h3>Вашего блога ({{request.session.openid_name|urlize}}) пока нет в рейтинге.</h3>

{% else %}

<h3>Ваш рейтинг:</h3>

<table class="rating" border="1">
  <tr><td rowspan="2">#</td><td rowspan="2">Блог</td><td colspan="4">Текущий месяц</td><td colspan="3">Прошлый месяц</td></tr>
  <tr>                        <td>Комментарии</td><td>Комментаторы</td><td>Ссылки</td><td>±</td>
                              <td>Комментарии</td><td>Комментаторы</td><td>Ссылки</td></tr>
	<tr>
	  <td></td>
	  <td><a href="{% url rating_card my.0.article__blog %}">{{ my.0.article__blog__owner_name|default:my.0.article__blog__url }}</a></td>
	  {% for v in my %}
	  <td>{% table_value v.value my.0.article__blog forloop.counter0 %}</td>
	  {% endfor %}
	  <td class="up">&uarr;</td>
	  <td>0</td>
	  <td>0</td>
	  <td>0</td>
	</tr>

</table>

{% endif %}
{% endif %}
{% endif %}

<p>
Данная таблица формируется в режиме on-line по результатам
автоматического анализа «русскоговорящего» интернет-пространства.
Технология анализа основана на сборе данных интернет-поиска «Яндекса».
</p>
<p>
В таблице представлены данные по популярности упоминания, цитирования,
комментирования и ссылок на блоги и личные странички ведущих российских
«ньюс-мейкеров», отобранных нашими <a href="/about/experts/">экспертами</a> 
на основе списка «ТОП-100» «Независимой газеты».
Рейтинг выстраивается по <a href="#">методике</a>,
обеспечивающей объективную оценку популярности того или иного лица.
Если Вас еще нет в этом списке, но Вы хотите иметь возможность получать
данные собственного рейтинга по этой технологии, <a href="#">свяжитесь с нами</a>.</p>
<p>
Наши эксперты-консультанты всегда готовы помочь Вам стать заметнее,
улучшить имидж, повысить позицию в рейтинге.
Главное – развитые социальные связи, технологичное распространение
информации! Рейтинг – не конец, а начало пути.
</p>

{% load cms_tags %}

<p>
<a href='{% page_id_url "comments-page" %}'>Комментарии экспертов</a> по текущему рейтингу.
</p>

<p>
<a href="{% url rating-archive %}">Архив рейтингов</a>.
</p>

{% endblock %}

{% block right_column %}

{% endblock %}
